<template>
  <form class="form" @submit.prevent="submit">
    <h1>Добавить рецепт</h1>
    <div v-show="visible">
      <div class="input">
        <input
          v-model="form.title"
          type="text"
          placeholder="Название рецепта"
        />
      </div>
      <div class="input">
        <input
          v-model="form.description"
          type="text"
          placeholder="Описание рецепта"
        />
      </div>
    </div>

    <div class="buttons">
      <button class="btn" type="submit" :disabled="!form.valid">Создать</button>
      <button class="btn secondary" type="button" @click="toggle">
        {{ visible ? 'Убрать форму' : 'Показать форму' }}
      </button>
    </div>
  </form>
</template>

<script>
  import { reactive, computed } from '@vue/composition-api';
  import { useToggle } from '../composition/toggle';
  import { useForm } from '../composition/form';

  export default {
    name: 'add-recipe',

    setup(props, { emit }) {
      const { form, submit } = useForm(emit);
      const { active: visible, toggle } = useToggle(true);

      return {
        visible,
        toggle,
        form,
        submit,
      };
    },
  };
</script>

<style>
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #eee;
    margin-bottom: 1rem;
  }

  .form h1 {
    margin: 0;
    margin-bottom: 1rem;
  }

  .input {
    margin-bottom: 1rem;
  }

  .input input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 8px;
    width: 400px;
  }

  .buttons {
    width: 400px;
    display: flex;
    justify-content: space-around;
  }
</style>
