<template>
  <div class="list" :class="{ empty: items.length === 0 }">
    <div v-if="items.length">
      <div
        v-for="item in items"
        :key="item.id"
        class="card"
        @click="$emit('select', item.id)"
      >
        <h2 class="card-title">{{ item.title }}</h2>
      </div>
    </div>

    <p v-else class="center">Нет рецептов. Добавьте первый</p>
  </div>
</template>

<script>
  export default {
    name: 'recepie-list',

    props: {
      items: {
        type: Array,
        default: () => [],
      },
    },
  };
</script>

<style>
  .card {
    border-bottom: 1px solid #eee;
    padding: 1rem;
    transition: 300ms all ease;
    cursor: pointer;
    background: #fff;
  }

  .empty {
    padding: 1rem;
    background: #fff !important;
  }

  .card-title {
    padding: 1rem;
    text-align: center;
  }

  .card:hover {
    background: #eee;
  }

  .list {
    background: #fffeee;
  }
</style>
