<template>
  <div class="detail">
    <div v-if="value" class="recipe">
      <h2>{{ value.title }}</h2>
      <a @click.prevent="toggle">{{ visible ? 'Скрыть' : 'Показать' }}</a>
      <p v-show="visible">{{ value.description }}</p>
      <button class="btn remove" @click="$emit('remove', value.id)">
        Удалить
      </button>
    </div>
  </div>
</template>

<script>
  import { watch } from '@vue/composition-api';
  import { useToggle } from '../composition/toggle';

  export default {
    name: 'recipe-datails',

    props: {
      value: {
        type: Object,
        default: null,
      },
    },

    setup(props) {
      const { active: visible, toggle } = useToggle();

      watch(
        () => props.value,
        () => (visible.value = false)
      );

      return {
        visible,
        toggle,
      };
    },
  };
</script>

<style>
  .recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .recipe p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .recipe a,
  .recipe h2 {
    margin-bottom: 0.5rem;
  }
</style>
